$primary-color: #013049;
$secondary-color: #d92027;
$black-color: #000000;
$white-color: #ffffff;
$gray-color: #989898;

// Fonts
$primary-font: 'Muli', sans-serif;

// Grid
// $grid-columns: 10;
// $grid-gutter-width: 30px;
